# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# dotenv environment variable files
.env

# VSCode settings
.vscode
.vscode-test

# Private waifus list
waifus.txt
waifus.csv

# Build distribution directory
dist/

# Custom toolbox
tools/

# Play-dl config
.data
